---
import toys from "../assets/toys.jpg";
import EducationIcon from "./icons/EducationIcon.astro";
import EyeIcon from "./icons/EyeIcon.astro";
import ScaleIcon from "./icons/ScaleIcon.astro";
import PillarCard from "./PillarCard.astro";
import { useTranslations } from "../i18n";
const i18n = useTranslations();
---

<main
  class="hero-section"
  style={`background-image: linear-gradient(to bottom, hsl(213 22% 86% / 0.9) 100%, hsl(213 22% 86% / 0) 10%), url('${toys.src}')`}
>
  <section id="hero">
    <div id="hero-content">
      <h1>{i18n.hero.title}</h1>
      <p>
        {i18n.hero.subtitle}
      </p>
    </div>
    <div class="pillars">
      <PillarCard
        title={i18n.pillars.awareness.title}
        description={i18n.pillars.awareness.description}
      >
        <EyeIcon slot="icon" />
      </PillarCard>
      <PillarCard
        title={i18n.pillars.education.title}
        description={i18n.pillars.education.description}
      >
        <EducationIcon slot="icon" />
      </PillarCard>
      <PillarCard
        title={i18n.pillars.legislative.title}
        description={i18n.pillars.legislative.description}
      >
        <ScaleIcon slot="icon" />
      </PillarCard>
    </div>
  </section>
</main>

<style>
  .hero-section {
    width: 100%;
    min-height: 90vh;
  }

  .section-page-container {
    padding-top: 6rem;
    min-height: calc(100vh - 200px);
  }

  .section {
    padding: 5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }

  h1 {
    font-weight: 900;
    line-height: 4rem;
    font-size: 3rem;
    text-align: center;
    color: var(--black);
    margin: 0;
  }

  p {
    text-align: center;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: 0;
    color: "black";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    padding: 0 3.5rem;
  }
  #hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 12px;
    color: white;
  }

  #hero-content p {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 300;
  }

  .pillars {
    display: flex;
    gap: 2rem;
    margin: auto;
    max-width: 90rem;
  }

  .pillars-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  @media (max-width: 1024px) {
    main {
      height: auto;
    }

    #hero {
      gap: 2vh;
      padding: 0 1.5rem;
    }
    #hero-content {
      padding: 2rem 0;
      gap: 1rem;
    }

    h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    #hero-content p {
      text-align: center;
      font-size: 1rem;
    }
    .pillars {
      flex-direction: column;
    }
  }
</style>
