---
import { useTranslations } from "../i18n";
import ServiceCard from "./ServiceCard.astro";
import MegaphoneIcon from "./icons/MegaphoneIcon.astro";
import PencilRulerIcon from "./icons/PencilRulerIcon.astro";
import CompassIcon from "./icons/CompassIcon.astro";
import HandHeartIcon from "./icons/HandHeart.astro";
import Button from "./Button.astro";

const i18n = useTranslations();
---

<section id="services" class="front-section">
  <div id="services-content" class="front-section-content">
    <div id="services-content-left">
      <h2>{i18n.services.title}</h2>
      <p>
        {i18n.services.subtitle}
      </p>
      <!-- this button goes like a link to the services page -->
      <Button
        variant="outline"
        text={i18n.services.moreInfo}
        onclick="window.location.href = 'services'"
      />
    </div>
    <div class="services-cards">
      <ServiceCard
        title={i18n.services.openLectures.title}
        description={i18n.services.openLectures.shortDescription}
      >
        <MegaphoneIcon slot="icon" />
      </ServiceCard>
      <ServiceCard
        title={i18n.services.workshops.title}
        description={i18n.services.workshops.shortDescription}
      >
        <PencilRulerIcon slot="icon" />
      </ServiceCard>
      <ServiceCard
        title={i18n.services.supportGroups.title}
        description={i18n.services.supportGroups.shortDescription}
      >
        <HandHeartIcon slot="icon" />
      </ServiceCard>
      <ServiceCard
        title={i18n.services.counselling.title}
        description={i18n.services.counselling.shortDescription}
      >
        <CompassIcon slot="icon" />
      </ServiceCard>
    </div>
  </div>

  <style>
    #services {
      background: linear-gradient(0deg, hsl(213 22% 86% / 1) 10%, transparent 100%);
    }

    #services-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5rem;
    }

    #services-content-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      gap: 1rem; /* Already in rem */
    }

    /* smaller */
    .more-info {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 1.25rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--primary-500);
      color: var(--white);
      text-decoration: none;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .services-cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: 2rem;
      justify-content: center;
      grid-auto-rows: 1fr;
      min-width: 0;
    }

    @media (max-width: 1250px) {
      #services-content {
        align-items: start;
      }
      #services-content-left {
        position: sticky;
        top: 6rem;
      }
    }

    @media (max-width: 1024px) {
      .services-cards {
        max-width: none;
      }

      #services-content {
        flex-direction: column;
        gap: 2rem;
      }
      #services-content-left {
        position: static;
        top: 0;
      }
    }

    @media (max-width: 768px) {
      h2 {
        text-align: center;
      }
      #services-content-left :global(button) {
        align-self: center;
      }
    }

    .services-cards-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
  </style>
</section>
