---
import TeamCard from "./TeamCard.astro";
import samuelImg from "../assets/samuel.jpg";
import patrikImg from "../assets/patrik.jpg";
import { useTranslations } from "../i18n";

const i18n = useTranslations();
---

<div class="about-team-inner">
  <div class="team-cards">
    <TeamCard
      name={i18n.team.samuel.name}
      role={i18n.team.samuel.role}
      image={samuelImg}
      description={i18n.team.samuel.description}
    />

    <TeamCard
      name={i18n.team.patrik.name}
      role={i18n.team.patrik.role}
      image={patrikImg}
      description={i18n.team.patrik.description}
    />
  </div>
</div>

<style>
  .team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
    justify-content: flex-start;
  }

  @media (max-width: 1024px) {
    .team-cards {
      justify-content: center;
    }
  }
</style>
